<ejs-dashboardlayout [columns]="8" [cellSpacing]="cellSpacing" [allowFloating]="true">
  <e-panels>
    <e-panel [sizeX]="2" [sizeY]="1" [row]="0" [col]="0">
      <ng-template #header>
        <div>Income</div>
      </ng-template>
      <ng-template #content>
        <div class="card">
          <table>
            <tr>
              <td>
                <p class="income-container">$43,300</p>
              </td>
              <td>
                <img src="../income.jpg" style="margin-left:138px;" />
              </td>
            </tr>
          </table>
        </div>
      </ng-template>
    </e-panel>
    <e-panel [sizeX]="2" [sizeY]="1" [row]="0" [col]="2">
      <ng-template #header>
        <div>Expenses</div>
      </ng-template>
      <ng-template #content>
        <div class="card">
          <table>
            <tr>
              <td>
                <p class="expense-container">$38,060</p>
              </td>
              <td>
                <img src="../expense.jpg" style="margin-Left:135px" />
              </td>
            </tr>
          </table>
        </div>
      </ng-template>
    </e-panel>
    <e-panel [sizeX]="2" [sizeY]="1" [row]="0" [col]="4">
      <ng-template #header>
        <div>Balance</div>
      </ng-template>
      <ng-template #content>
        <div class="card">
          <table>
            <tr>
              <td>
                <p class="balance-container">$38,060</p>
              </td>
              <td>
                <img src="../balance.png" style="margin-Left:125px ;margin-Bottom:15px" />
              </td>
            </tr>
          </table>
        </div>
      </ng-template>
    </e-panel>
    <e-panel [sizeX]="2" [sizeY]="1" [row]="0" [col]="6">
      <ng-template #header>
        <div>Transactions</div>
      </ng-template>
      <ng-template #content>
        <div class="card">
          <table>
            <tr>
              <td>
                <p class="transaction-container">$38,060</p>
              </td>
              <td>
                <img src="../trans.jpg" style="margin-Left:118px;margin-Bottom:15px" />
              </td>
            </tr>
          </table>
        </div>
      </ng-template>
    </e-panel>
    <e-panel [sizeX]="4" [sizeY]="3" [row]="1" [col]="0">
      <ng-template #header>
        <div>Income Expenses</div>
      </ng-template>
      <ng-template #content>
        <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'>
          <e-series-collection>
            <e-series [dataSource]='incomeExpenseData' type='SplineArea' xName='period' yName='income' name='income'
              width=2 fill='#00BCD7'></e-series>
            <e-series [dataSource]='incomeExpenseData' type='SplineArea' xName='period' yName='expense' name='expense'
              width=2 fill='#CDDE1F'></e-series>
          </e-series-collection>
        </ejs-chart>
      </ng-template>
    </e-panel>
    <e-panel [sizeX]="4" [sizeY]="3" [row]="1" [col]="4">
      <ng-template #header>
        <div>Total Expenses</div>
      </ng-template>
      <ng-template #content>
        <ejs-accumulationchart id="pieChart" #piechart width="100%" height="100%">
          <e-accumulation-series-collection>
            <e-accumulation-series name='Usage' [dataSource]='PieRenderingData' xName='text' yName='y'
              [startAngle]="startAngle" [endAngle]="endAngle" innerRadius="50%" radius="83%" [dataLabel]="piedataLabel">
            </e-accumulation-series>
          </e-accumulation-series-collection>
        </ejs-accumulationchart>
      </ng-template>
    </e-panel>
    <e-panel [sizeX]="8" [sizeY]="3" [row]="4" [col]="0">
      <ng-template #header>
        <div>Recent Transactions</div>
      </ng-template>
      <ng-template #content>
        <ejs-grid [dataSource]='transactionData'>
          <e-columns>
            <e-column field='transactoinId' headerText='Transaction ID' textAlign='Center' width=120></e-column>
            <e-column field='category' headerText='Category' width=120>
              <ng-template #template let-data>
                <div className='image'>
                  <img class='category-icon' [src]='data.image' alt='{{data.category}}' />
                  <div className='category-text'>{{data.category}}</div>
                </div>
              </ng-template>
            </e-column>
            <e-column field='paymentMode' headerText='PaymentMode' textAlign='Center'></e-column>
            <e-column field='description' headerText='Description' textAlign='Center'></e-column>
            <e-column field='amount' headerText='Amount' width=160 textAlign='Center'>
              <ng-template #template let-data>
                <div className='image'>
                  <span>$</span><span>{{data.amount}}</span>
                </div>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </ng-template>
    </e-panel>
  </e-panels>
</ejs-dashboardlayout>
